.container{
    margin:0;
    padding:0;

}

ul.nav.navbar-nav.navbar-right{
margin-right:-700px;
}

.blogindex{
    list-style-type: none;
    font-size:20px;
    letter-spacing: 10px;
    padding-left: 10px;
    padding-right:20px;
    padding-bottom: 0px;
}

.blog_create{
    clear: both;
    float:right;
    letter-spacing: 5px;
    font-size:18px;
    padding-bottom: 30px;
    position: absolute;
    top:73px; right:10px;
    padding-bottom:1px;
}

/*記事一覧画面で表示されている記事作成ボタン*/



/*編集ボタン*/
.btn.btn-primary.btn-sm{
    padding:15px;
    margin:50px;
}

/*削除ボタン*/
.btn.btn-danger.btn-sm{
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    margin:50px;
}

/*ページネーション*/
.paginations{
    padding:0;
}